
.vsconfig
Assembly-CSharp.Player.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Library/
Logs/
Temp/
UserSettings/
PPv2URPConverters.csproj
TURP.sln
Unity.2D.Sprite.Editor.csproj
Unity.2D.Tilemap.Editor.csproj
Unity.RenderPipeline.Universal.ShaderLibrary.csproj
Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
Unity.RenderPipelines.Core.Editor.csproj
Unity.RenderPipelines.Core.Editor.Tests.csproj
Unity.RenderPipelines.Core.Runtime.csproj
Unity.RenderPipelines.Core.Runtime.Player.csproj
Unity.RenderPipelines.Core.Runtime.Tests.csproj
Unity.RenderPipelines.Core.Runtime.Tests.Player.csproj
Unity.RenderPipelines.Core.ShaderLibrary.csproj
Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
Unity.RenderPipelines.Universal.Editor.csproj
Unity.RenderPipelines.Universal.Editor.Tests.csproj
Unity.RenderPipelines.Universal.Runtime.csproj
Unity.RenderPipelines.Universal.Runtime.Player.csproj
Unity.RenderPipelines.Universal.Runtime.Tests.csproj
Unity.RenderPipelines.Universal.Runtime.Tests.Player.csproj
Unity.RenderPipelines.Universal.Shaders.csproj
Unity.RenderPipelines.Universal.Shaders.Player.csproj
Unity.ShaderGraph.Editor.csproj
Unity.ShaderGraph.Editor.Tests.csproj
Unity.ShaderGraph.Utilities.csproj
UnityEditor.UI.csproj
UnityEngine.UI.csproj
UnityEngine.UI.Player.csproj
